body {
  margin: 0px;
}

.top {
  background: #123456;
  color: white;
  font-size: 12px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  position: fixed;
  text-align: right;
}
#top__logo {
  font-size: 20px;
  position: absolute;
  left: 20px;
}


.greetWord {
  background: url(./worldmap.png);
  height: auto;
  padding-top: 80px;
  padding-bottom:40px;
  padding-left: 10%;
  padding-right: 10%;
}

.greetWord__Hello {
  color: #123456;
  font-weight: bold;
  font-size: 50px;
}
.greetWord__info {
  color: #212121;
  font-size: 20px;
  text-align: left;
}
.greetWord__block {
  color: #123456;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  line-height: 60px;
  width: 180px;
  text-align: center;
  border: 2px solid #123456;
  border-radius: 10px; 
  transition: all 0.3s ease-in;
}
.greetWord__block:hover {
  color: white;
  background: #123456
}

.content {
  color: #212121;
  max-width: 95%;
  margin: 0px auto;
  padding: 30px 0px;
  text-align: center;
}
.content__theme {
  display: inline-block;
  width: 25%;
  margin: 30px 30px;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .content__theme {
    display: block;
    width: 80%;
    margin: 50px auto;
  }
}
.content__theme_header {
  font-size: 25px;
}
p {
  font-size: 18px;
}
.content__theme_block {
  color: #123456;
  border: 2px solid #123456;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
  font-size: 12px;
  transition: all 0.3s ease-in;
}  
.content__theme_block:hover {
  color: white;
  background: #123456
}

.bottom {
  color: #123456;
  border-top: 2px solid #123456;
  margin: 10px 10%;
  padding: 10px 0
}





